export(describe.exp)
export(describe.lognorm)
export(describe.relogit)
export(describe.rq)
export(describe.tobit)
export(param.exp)
export(param.lognorm)
export(param.relogit)
export(param.rq)
export(param.tobit)
export(qi.exp)
export(qi.lognorm)
export(qi.relogit)
export(qi.rq)
export(qi.tobit)
export(zelig2exp)
export(zelig2lognorm)
export(zelig2relogit)
export(zelig2rq)
export(zelig2tobit)
importFrom(Zelig, describe, param, qi)
